<div class="backing">
	<div class="main">
		
			<div id="left"></div>
			<div id="right"></div>
			<div id="top"></div>
			<div id="bottom"></div>
		

		<section id="slide-1" class="homeSlide">
        <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-1">
        <div class="hsContainer">
            <div class="hsContent"
                data-center="bottom: 200px; opacity: 1"
                data-top="bottom: 1200px; opacity: 0"
                data-anchor-target="#slide-1 h2">
                <div class="slidetwo">
            	<%= link_to '/developers' do %>
              <%= image_tag 'checkout1.jpg', class: 'checkout' %>
              <% end %>

            	<div class="profile">
            		<div class="google"></div>
            		
            		<div class="about">
            			<p>Alexandra Sos<p>

            			<p>Web_Developer</p>
					
						<p>Silicon_Beach</p>

                        <p>HTML, CSS, Javascript, Ruby,  Rails, Github, Jquery, Mongo, Postgres, Json, Pivotal Tracker, Angular JS</p>

                        <a href='http://www.arizona.edu/'><%= image_tag 'uofa.png', class: 'wildcat' %></a>


                        <a href='http://wdi5-6yearbook.herokuapp.com/static_pages#wdihome'><%= image_tag 'galogo.png', class: 'ga' %></a>
                        
            		</div>


            	</div>
            </div>
            	
                </div>
            

            </div>
        </div>
    </div>
</section>
         
        <!-- Section 2 -->
  <section id="slide-2" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
        data-anchor-target="#slide-2">
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data-center-top="opacity: 0"
                data--100-bottom="opacity: 0;"
                data-anchor-target="#slide-2">
                <h2>Web Developer</h2>
            </div>

        </div>
    </div>
  </section>
        <!-- Section 3 -->
  <section id="slide-3" class="homeSlide">
    <div class="projects">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
        data-anchor-target="#slide-3">
        <div class="hsContainer">
            <div class="hsContent"
                data--50-bottom="opacity: 0;"
                data--200-bottom="opacity: 1;"
                data-center="opacity: 1"
                data-200-top="opacity: 0"
                data-anchor-target="#slide-3 h2">
<h3 class="projtitle">Projects</h3>
 <div class="row" data-equalizer>
  <div class="large-3 columns panel" data-equalizer-watch>
     <a href='http://comedian-seal-77358.bitballoon.com/'>TicTacToe</a>
      <%= link_to 'http://comedian-seal-77358.bitballoon.com/' do %>
     <%= image_tag 'tictactoe.jpg' %>
     <% end %>
     <p class="projtext">My first ever project, creating the game tictactoe with the use of javascript and angular js</p>
  </div>
  <div class="large-3 columns panel" data-equalizer-watch>
    <a href='http://trivia-pursuit.herokuapp.com/bars'>TriviaPursuit</a>
      <%= link_to 'http://trivia-pursuit.herokuapp.com/' do %>
      <%= image_tag 'triviapursuit.jpg' %>
      <% end %>
    <p class="projtext">(Team Project) </br> Wanting to be able to find bar trivia information, we created an app that finds bar trivia near you with the help of the yelp api. We handwrote authentication and also used the gmaps api with ruby on rails and mongo for the data</p>

  </div>
  <div class="large-3 columns panel" data-equalizer-watch>
    <a href='http://play-la.herokuapp.com/'>Play-LA</a>
      <%= link_to 'http://play-la.herokuapp.com/' do %>
      <%= image_tag 'playla.jpg' %></a>
      <% end %>
    <p class="projtext">(Team Project) </br>A breakthrough project that creates a playlist according to your location. With about 10,000 metro stops in la, we assigned each stop to a song relevant to its location</p>
  </div>
  <div class="large-3 columns panel" data-equalizer-watch>
 
    <%= link_to 'http://laguestlist.herokuapp.com/' do %>
    <%= image_tag 'laguestlist.jpg' %>
    <% end %>
    <p class="projtext">Being passionate about marketing and branding, I created a company that follows events in Los Angeles</p>
  </div>
</div>

    
            </div>
            </div>
        </div>
    </div>
   </section>
        <!-- Section 4 -->
   <section id="slide-4" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
        data-anchor-target="#slide-4">
        <div class="hsContainer">
            <div class="hsContent"
                data--50-bottom="opacity: 0;"
                data--200-bottom="opacity: 1;"
                data-center="opacity: 1"
                data-200-top="opacity: 0"
                data-anchor-target="#slide-4 h2">



     
           



     <ul class="pricing-table">
  <li class="title">Contact</li>
  <li class="bullet-item"><a href='http://www.linkedin.com/in/alexandrasos'>linkedin</a></li>
  <li class="bullet-item"><a href='https://github.com/sosfacekilla'>Github</a></li>
  <li class="bullet-item"><a href='http://vimeo.com/sosfacekillah'>Vimeo</a></li>
  <li class="bullet-item">alexandra.d.sos@gmail.com</li>
  <li class="cta-button"><%= link_to '/developers/show' do %><%= image_tag 'buy.jpg', class: 'buy' %><% end %></li>
</ul>

       


    </div>
     </div>
 </div>
 </div>


   </section>
         
 

</div>